*{
    margin: 0px;
    padding: 0px;
}
.login{
    border: 1px solid black;
    margin: 100px auto auto auto;
    padding: 50px;
    width: 800px;
}
.topic{
    height: 150px;
}
h1{
    font-family:cursive;
    font-size: 50px;
    text-align: center;
    /* text-decoration:underline double; */
}
.lbl{
    text-align: center;
}