@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.top{
    background-color: #00425A;
    background-image: linear-gradient(to right, #00425A, #017098,#0393c8,#00425A);
    display: flex;
    font-family: 'Roboto', sans-serif;   
    height: 100px;
}
.header{
    margin-left: 60px;
    margin-right: 60px;
}
h1{
    color: #EF5B0C;
    padding-top: 30px;
}
nav{
    float: right;
    padding: 40px;
}
ul{
    
    list-style-type: none;
}
li {
    color: #EF5B0C;
    display: inline;
    
    font-family: 'Roboto', sans-serif; 
}
